<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DCD - Dead Cow Diner</title>


</head>
<header>
    <div class="container">
        <img class="logo" src="cow.png" alt="logo_dcd">
        <div class="left-div">
            <h1 class="title">DCD<br> Dead Cow Diner</h1>
        </div>

        <div class="right-div">
            <button class="btn_cmd"><a href="commande.html"><i class="fa fa-trash"></i> COMMANDER</a></button>
        </div>
    </div>
</header>

<body>
    <div class="slider_menu">
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" checked />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <main id="carousel">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
           
</main>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between">
            <div class="card" style="width: 18rem;">
                <img src="menu.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Ajouter</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="menu1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Ajouter</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="menu2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Ajouter</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>


</html>